:root {
  --white: #FFF;
  --primary: #61ECBC;
  --black: #182339;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('./bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}